<div class="bmi-panel">
  <h1>BMI Calculator</h1>

  <% if current_user.bmi.nil? %>
    <p>Enter your height and weight to calculate your BMI.</p>
    <p>You can do that on the <%= link_to 'Edit Profile', edit_user_path(current_user) %> page.</p>
  <% else %>
    <div class="user-gender">
      <h2>Gender</h2>
      <%= gender_image(current_user) %>
    </div>

    <div class="user-weight">
      <h2>Weight</h2>
      <%= weight_diagram(current_user) %>
    </div>

    <div class="user-height">
      <h2>Height</h2>
    </div>
  <% end %>
</div>
