<nav class="navbar">
  <%= link_to root_path, class: current_page?(root_path) ? "active" : "" do %>
    <%= image_tag "icons/home.svg", alt: "Home link", class: "icon" %>
  <% end %>
  <%= link_to edit_user_path(current_user), class: current_page?(edit_user_path(current_user)) ? "active" : "" do %>
    <%= image_tag "icons/user.svg", alt: "User link", class: "icon" %>
  <% end %>
</nav>
